<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input class="form-check-input" [(ngModel)]="nodeResolver.dataModel.adminonly" name="nodeResolver.dataModel.adminonly" type="checkbox" />
        <span>{{'Use the first site for administrative purposes only'|translate}}</span>
      </label>
    </div>
    <div class="form-group">
      <label for="sites-mode-select">{{'Mode:'|translate}}</label>
      <select id="sites-mode-select" name="mode" class="form-select-custom" [(ngModel)]="nodeResolver.dataModel.mode" required>
        <option value="default" [selected]="nodeResolver.dataModel.mode === 'default'">DEFAULT</option>
        <option value="demo">DEMO</option>
        <option value="wbpa">WHISTLEBLOWINGPA</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rootdomain-input">{{'Root domain used for secondary sites'|translate}}</label>
      <div>
        <input id="rootdomain-input" name="rootdomain" class="form-control" [(ngModel)]="nodeResolver.dataModel.rootdomain" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label for="default-questionnaire-select">{{'Questionnaire'|translate}}</label>
      <select id="default-questionnaire-select" name="default_questionnaire" class="form-select-custom" [(ngModel)]="nodeResolver.dataModel.default_questionnaire">
        @for (item of questionnairesResolver.dataModel; track item) {
          <option [ngValue]="item.id">{{item.name}}</option>
        }
      </select>
    </div>
    @if (!nodeResolver.dataModel.adminonly) {
      <div>
        <div class="form-group">
          <label>
            <input name="enable_signup" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.enable_signup" type="checkbox" />
            <span>{{'Allow users to sign up'|translate}}</span>
          </label>
        </div>
        @if (nodeResolver.dataModel.enable_signup) {
          <div>
            <div class="form-group">
              <label>
                <input name="signup_tos1_enable" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_tos1_enable" type="checkbox" />
                <span>{{'Enable terms of service'|translate}}</span>
                <span>#1</span>
              </label>
              @if (nodeResolver.dataModel.signup_tos1_enable) {
                <div class="nested">
                  <div class="form-group">
                    <label for="signup-tos1-title">{{'Title'|translate}}</label>
                    <input id="signup-tos1-title" name="signup_tos1_title" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_title" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="signup-tos1-text">{{'Text'|translate}}</label>
                    <div>
                      <textarea id="signup-tos1-text" name="signup_tos1_text" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_text" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="signup-tos1-checkbox-label">{{'Checkbox label'|translate}}</label>
                    <input id="signup-tos1-checkbox-label" name="signup_tos1_checkbox_label" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_checkbox_label" type="text" />
                  </div>
                </div>
              }
            </div>
            <div class="form-group">
              <label>
                <input name="signup_tos2_enable" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_tos2_enable" type="checkbox" />
                <span>{{'Enable terms of service'|translate}}</span>
                <span>#2</span>
              </label>
              @if (nodeResolver.dataModel.signup_tos2_enable) {
                <div class="nested">
                  <div class="form-group">
                    <label for="signup-tos2-title">{{'Title'|translate}}</label>
                    <input id="signup-tos2-title" name="signup_tos2_title" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_title" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="signup-tos2-text">{{'Text'|translate}}</label>
                    <div>
                      <textarea id="signup-tos2-text" name="signup_tos2_text" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_text" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="signup-tos2-checkbox-label">{{'Checkbox label'|translate}}</label>
                    <input id="signup-tos2-checkbox-label" name="signup_tos2_checkbox_label" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_checkbox_label" type="text" />
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    <button class="btn btn-primary" id="save" (click)="utilsService.updateNode(nodeResolver.dataModel)">
      <i class="fas fa-check"></i>
      <span>{{'Save'|translate}}</span>
    </button>
  </div>
</div>
