<div class="config-item reveal">
  <div class="editorHeader row">
    <div class="col-md-6" (click)="toggleEditing($event)">
      <div>
        <span class="badge bg-secondary">{{tenant.id}}</span>
        <span>{{tenant.name}}</span>
      </div>
      @if (tenant.active && (tenant.onionservice || tenant.hostname || (tenant.subdomain || nodeResolver.dataModel.rootdomain))) {
        <div class="tenant-badge">
          @if (tenant.hostname) {
            <a class="badge bg-primary" [href]="'https://' + tenant.hostname" target="_blank">{{tenant.hostname}}</a>
          }
          @if (tenant.onionservice) {
            <a class="badge bg-primary" [href]="'http://' + tenant.onionservice" target="_blank">{{tenant.onionservice}}</a>
          }
          @if (tenant.subdomain) {
            @if (nodeResolver.dataModel.onionservice) {
              <a class="badge bg-primary" [href]="'https://' + tenant.subdomain + '.' + nodeResolver.dataModel.rootdomain" target="_blank">{{tenant.subdomain}}.{{nodeResolver.dataModel.onionservice}}</a>
            }
            @if (nodeResolver.dataModel.onionservice) {
              <a class="badge bg-primary" [href]="'http://' + tenant.subdomain + '.' + nodeResolver.dataModel.onionservice" target="_blank">{{tenant.subdomain}}.{{nodeResolver.dataModel.onionservice}}</a>
	    }
          }
        </div>
      }
    </div>
    @if (tenant.id !== 1) {
      <div class="col-md-6 clearfix" (click)="toggleEditing($event)">
        <span class="float-end">
          @if (tenant.active) {
            <button class="btn btn-sm btn-primary" name="disable_tenant" (click)="toggleActivation($event)">{{'Enabled'|translate}} </button>
          }
          @if (!tenant.active) {
            <button class="btn btn-sm btn-danger" name="enable_tenant" (click)="toggleActivation($event)">{{'Disabled'|translate}} </button>
          }
          @if (tenant.active) {
            <button class="btn btn-sm btn-primary" name="configure_tenant" (click)="configureTenant($event, tenant.id)">{{'Configure'|translate}}</button>
          }
          @if (!editing) {
            <button class="btn btn-sm btn-outline-secondary" name="edit_tenant" (click)="toggleEditing($event)">{{'Edit'|translate}}</button>
          }
          @if (editing) {
            <button class="btn btn-sm btn-primary" name="save_tenant" (click)="saveTenant()">{{'Save'|translate}}</button>
          }
          @if (isRemovableTenant()) {
            <button class="btn btn-sm btn-danger" name="delete_tenant" (click)="deleteTenant($event, tenant)">{{'Delete'|translate}}</button>
          }
        </span>
      </div>
    }
  </div>
  @if (editing) {
    <div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Name'|translate}}</label>
            <input name="name" class="form-control" [(ngModel)]="tenant.name" type="text" required>
          </div>
          <div class="form-group">
            <label>{{'Subdomain'|translate}}</label>
            <input name="subdomain" class="form-control" [(ngModel)]="tenant.subdomain" type="text" required>
          </div>
          <div class="form-group">
            <label>{{'Mode:'|translate}}</label>
            <select name="type" class="form-select-custom" [(ngModel)]="tenant.mode" required>
              <option value="default" [selected]="tenant.mode === 'default'">DEFAULT</option>
              <option value="demo">DEMO</option>
              <option value="wbpa">WHISTLEBLOWINGPA</option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <span>{{'Creation date:'|translate}}</span> {{tenant.creation_date | date:'dd-MM-yyyy'}}
            </label>
          </div>
          <div class="form-group">
            <label>
              <span data-translate>Name</span><span>: </span>
            </label>
            <span>{{tenant.signup.name}}</span>
          </div>
          <div class="form-group">
            <label>
              <span data-translate>Surname</span><span>: </span>
            </label>
            <span>{{tenant.signup.surname}}</span>
          </div>
          <div class="form-group">
            <label>
              <span data-translate>Language</span><span>: </span>
            </label>
            <span>{{tenant.signup.language}}</span>
          </div>
          <div class="form-group">
            <label>
              <span data-translate>Email address</span><span>: </span>
            </label>
            <span>{{tenant.signup.email}}</span>
          </div>
          @if (tenant.signup.mode !== "demo") {
            <div class="form-group" data-ng-if="tenant.signup.phone">
              <label>
                <span data-translate>Phone number</span><span>: </span>
              </label>
              <span>{{tenant.signup.phone}}</span>
            </div>
            <label data-translate>Organization</label>
            <div class="ml-4">
              <div class="form-group">
                <label>
                  <span data-translate>Name</span><span>: </span>
                </label>
                <span>{{tenant.signup.organization_name}}</span>
              </div>
              <div class="form-group">
                <label>
                  <span data-translate>Address</span><span>: </span>
                </label>
                <span>{{tenant.signup.organization_location}}</span>
              </div>
              <div class="form-group">
                <label>
                  <span data-translate>Fiscal code</span><span>: </span>
                </label>
                <span>{{tenant.signup.organization_fiscal_code}}</span>
              </div>
              <div class="form-group">
                <label>
                  <span data-translate>Tax code</span><span>: </span>
                </label>
                <span>{{tenant.signup.organization_vat_number}}</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
