@if (!authentication.requireAuthCode) {
  <div>
    <div class="form-group">
      <label for="default-login-username" class="visually-hidden">{{ 'Username' | translate }}</label>
      <div class="input-group mb-3">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        <input id="default-login-username" class="form-control" name="username" [attr.aria-label]="'Username' | translate" placeholder="{{'Username' | translate}}" [(ngModel)]="authentication.loginData.loginUsername" type="text" required />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="default-login-password" class="visually-hidden">{{ 'Password' | translate }}</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
        <input id="default-login-password" class="form-control" name="password" [attr.aria-label]="'Password' | translate" placeholder="{{'Password' | translate}}" [(ngModel)]="authentication.loginData.loginPassword" type="password" required />
      </div>
    </div>
    <button id="login-button" class="btn btn-primary" [disabled]="authentication.loginInProgress || loginValidator.invalid" (click)="authentication.login(0, authentication.loginData.loginUsername, authentication.loginData.loginPassword)" type="submit">
      <i class="fas fa-right-to-bracket"></i>
      <span>{{'Log in'| translate}}</span>
    </button>
    <span id="forgot-button">
      <a class="btn btn-outline-secondary" id="passwordreset" href="#/login/passwordreset">{{'Forgot password?'|translate}}</a>
    </span>
  </div>
}
@if (authentication.requireAuthCode) {
  <div>
    <div class="form-group">
      <label for="input-2fa">{{'Enter the two factor authentication code'|translate}}</label>
    </div>
    <label for="default-login-2fa" class="visually-hidden">{{ 'Two factor authentication code' | translate }}</label>
    <div class="input-group">
      <input id="default-login-2fa" name="input-2fa" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="authentication.loginData.loginAuthCode" type="text" size="6" maxlength="6" required />
      <div class="input-group-btn">
        <button id="login-button" class="btn btn-primary rounded-start-0 m-0" [disabled]="authentication.loginInProgress  || loginValidator.invalid || authentication.loginData.loginAuthCode.length !== 6" (click)="authentication.login(0, authentication.loginData.loginUsername, authentication.loginData.loginPassword, authentication.loginData.loginAuthCode)" type="submit">
          <i class="fas fa-right-to-bracket"></i>
          <span>{{'Log in'|translate}}</span>
        </button>
        <a class="btn" href="#" (click)="utilsService.openSupportModal()" ngbTooltip="{{'Request support' | translate}}">
          <i class="fas fa-life-ring"></i>
        </a>
      </div>
    </div>
  </div>
}
