<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="user-privacy-policy-text">{{ 'Privacy Policy' | translate }}</label>
            <div>
                <textarea id="user-privacy-policy-text" name="nodeData.user_privacy_policy_text" class="form-control" [(ngModel)]="nodeData.user_privacy_policy_text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="user-privacy-policy-url">
                <span>{{ 'Privacy Policy' | translate }}</span>
                <span>(URL)</span>
            </label>
            <input id="user-privacy-policy-url" class="form-control" name="nodeData.user_privacy_policy_url" [(ngModel)]="nodeData.user_privacy_policy_url" type="text" />
        </div>
        <button class="btn btn-primary" id="save_user_policy" (click)="updateNode()">
            <i class="fas fa-check"></i>
            <span>{{ 'Save' | translate }}</span>
        </button>
    </div>
</div>