<div class="modal-header">
  <h5 id="modal-title" class="modal-title">{{'Confirm'|translate}}</h5>
  <button type="button" class="btn-close" (click)="dismiss()" [attr.aria-label]="'Close' | translate"><i class="fa-solid fa-circle-xmark" aria-hidden="true"></i></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="confirmation-password-input">
      <span>{{'Password'|translate}}</span>
    </label>
    <input id="confirmation-password-input" class="form-control" name="secret" [(ngModel)]="secret" type="password" />
  </div>
</div>
<div class="modal-footer">
  <button (click)="confirm()" id="confirm" [disabled]="!secret" class="btn btn-primary">{{'Confirm'|translate}}</button>
  <button (click)="dismiss()" id="close" class="btn btn-light">{{'Close'|translate}}</button>
</div>
