<div class="modal-header">
  <h5 class="modal-title">{{ 'Enter a name for the copy' | translate }}</h5>
  <button type="button" class="btn-close" (click)="cancel()" [attr.aria-label]="'Close' | translate"></button>
</div>
<div class="modal-body">
  <span>{{ 'Name' | translate }}</span>
  <div class="form-group">
    <input name="name" class="form-control" [(ngModel)]="duplicate_questionnaire.name" type="text" #name="ngModel"/>
  </div>
</div>
<div class="modal-footer">
  <span id="modal-action-ok" class="btn btn-primary" (click)="confirm()">
    <i class="fas fa-check"></i>
    <span>{{ 'Duplicate' | translate }}</span>
  </span>
  <span id="modal-action-cancel" class="btn btn-outline-secondary" (click)="cancel()">
    <i class="fas fa-xmark"></i>
    <span>{{ 'Cancel' | translate }}</span>
  </span>
</div>
