<div class="modal-header">
  <h5 class="modal-title">{{ 'Assign score points' | translate }}</h5>
  <button type="button" class="btn-close" (click)="cancel()" [attr.aria-label]="'Close' | translate"></button>
</div>
<div class="modal-body">
  <span class="">
    <span>{{ 'Type' | translate }}</span>
    <select class="form-control" [(ngModel)]="arg.score_type">
      <option value="none">{{ 'None' | translate }}</option>
      <option value="addition">{{ 'Addition' | translate }}</option>
      <option value="multiplier">{{ 'Multiplier' | translate }}</option>
    </select>
    <br>
      @if (arg.score_type !== 'none') {
        <div>
          <span>{{ 'Value' | translate }}</span>
          <input id="score_points" class="form-control" [(ngModel)]="arg.score_points" type="number" />
        </div>
      }
    </span>
  </div>
  <div class="modal-footer">
    <a id="modal-action-ok" class="btn btn-primary" (click)="confirm()">
      <i class="fas fa-check"></i>
      <span>{{ 'Confirm' | translate }}</span>
    </a>
    <a id="modal-action-cancel" class="btn btn-outline-secondary" (click)="cancel()">
      <i class="fas fa-xmark"></i>
      <span>{{ 'Cancel' | translate }}</span>
    </a>
    <a id="modal-action-reset" class="btn btn-danger" (click)="arg.score_type = 'none'; arg.score_points = 0; cancel()">
      <i class="fas fa-check"></i>
      <span>{{ 'Reset' | translate }}</span>
    </a>
  </div>
