<div id="TipCommentsBox" class="card card-default">
  <div class="card-header d-flex justify-content-between" role="button" tabindex="0" [attr.aria-expanded]="collapsed" (click)="toggleCollapse(); utilsService.stopPropagation($event);" (keypress)="toggleCollapse(); utilsService.stopPropagation($event);">
    <span>{{'Comments'|translate}}</span>
    <span class="">
      @if (!collapsed) {
        <span ngbTooltip="{{'Collapse' | translate}}"><i class="fas fa-chevron-up"></i></span>
      }
      @if (collapsed) {
        <span ngbTooltip="{{'Expand' | translate}}"><i class="fas fa-chevron-down"></i></span>
      }
    </span>
  </div>
  @if (!collapsed) {
    <div class="card-body">
      <div id="TipCommentsInputBox" class="row">
        <div class="col-md-12 clearfix">
          <label for="new-comment-content" class="visually-hidden">{{ 'Comment' | translate }}</label>
          <textarea id="new-comment-content" [(ngModel)]="newCommentContent" name="newCommentContent" maxlength="4096" class="form-control" autocomplete="off" autoExpand></textarea>
          <span class="float-end">{{newCommentContent.length ? newCommentContent.length : '0'}}/4096</span>
        </div>
        <div class="col-md-12 clearfix">
          <button id="comment-action-send" class="btn btn-primary" (click)="newComment()" [disabled]="!newCommentContent">
            <i class="fas fa-comment"></i>
            <span>{{'Send'|translate}}</span>
          </button>
        </div>
      </div>
      @if (tipService.tip.comments && tipService.tip.comments.length) {
        <app-paginated-interface data-cy="SubmissionComments" id="SubmissionComments" [items]="tipService.tip.comments" [filterField]="'content'" [itemsPerPage]="10"   [filter]="{ visibility: key }" orderBy="creation_date" [orderDesc]="true">
          <ng-template #content let-comment="item" let-index="index">
            <div id="comment-{{index}}" class="mt-2">
              @if (!comment.author_id && !comment.type) {
                <div class="message-whistleblower">
                  <div class="row">
                    <div class="col-md-6">{{'Whistleblower'|translate}}</div>
                    <div class="col-md-6 text-end">{{comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
                  </div>
                  <div data-ng-if="comment.content" class="preformatted">{{maskContent(comment.id, '0', comment.content)}}</div>
                  @if (redactMode && (preferenceResolver.dataModel.can_mask_information || preferenceResolver.dataModel.can_redact_information)) {
                    <button type="button" class="btn btn-sm float-end edit" id="edit-question" (click)="redactInformation('comment', comment.id, '0', comment.content)" ngbTooltip="{{redactOperationTitle | translate}}" [attr.aria-label]="redactOperationTitle | translate">
                      <i class="fas fa-eraser" aria-hidden="true"></i>
                    </button>
                  }
                  <br/>
                </div>
              }
              @if (tipService.tip.receivers_by_id[comment.author_id]) {
                <div class="message">
                  <div class="row">
                    <div class="col-md-6">{{tipService.tip.receivers_by_id[comment.author_id].name | translate}}</div>
                    <div class="col-md-6 text-end">{{comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
                  </div>
                  @if (!comment.type) {
                    <div class="preformatted">{{comment.content}}</div>
                  }
                  @if (comment.type === 'auditlog_update_report_status') {
                    <div>{{'Status'|translate}}: {{utilsService.getSubmissionStatusText(comment.data.status,comment.data.substatus,appDataService.submissionStatuses) | translate}}</div>
                  }
                  @if (comment.type === 'auditlog_update_report_expiration') {
                    <div>{{'Expiration date'|translate}}: {{comment.data.curr_expiration_date * 1000 | date:'dd-MM-yyyy'}}</div>
                  }
                </div>
              }
            </div>
          </ng-template>
        </app-paginated-interface>
      }
    </div>
  }
</div>
