<div class="modal-header">
  <h5 id="confirmation-2fa-modal-title" class="modal-title">{{'Confirm'|translate}}</h5>
  <button type="button" class="btn-close" (click)="dismiss()" [attr.aria-label]="'Close' | translate"><i class="fa-solid fa-circle-xmark" aria-hidden="true"></i></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="confirmation-2fa-input">
      <span>{{'Enter the two factor authentication code'|translate}}</span>
    </label>
    <input id="confirmation-2fa-input" class="form-control" name="secret" [(ngModel)]="secret" type="text" size="6" maxlength="6" />
  </div>
</div>
<div class="modal-footer">
  <button (click)="confirm()" id="confirm" [disabled]="!secret || secret.length !== 6" class="btn btn-primary">{{'Confirm'|translate}}</button>
  <button (click)="dismiss()" id="close" class="btn btn-light">{{'Close'|translate}}</button>
</div>
