* {
  animation: none !important;
  transition: none !important;
}

.reveal {
  opacity: 1;
}

#PageOverlay,
#Loader,
.tooltip {
  display: none;
}

.modal-content,
.dropdown-menu {
  border: unset;
  border-radius: unset;
}

table {
  font-size: 0.8125rem;
}
