/* to upload on site for additional css */
/* Pilgermair */
#PrivacyBadge {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
/* #LogoutLinkBox {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
} */
#WhistleblowerLoginBox {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
#TitleBox .TitleSeparator {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
#TitleBox #PageTitle {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
.public #AttributionClause {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
#LogoBox img {
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}
[data-ng-class='*public*true*'] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
#Presentation,
.description,
#ReceiptText {
  max-width: 600px;
  text-align: left;
  margin-bottom: 30px;
}
#WhistleblowerSubmitBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lowtext,
.lowtext a {
  color: #ffffff00;
}

[dir] .tooltip-inner,
.tooltip-inner {
  text-align: left !important;
  background-color: #2866a2 !important;
}

#HomePageBox #WhistleblowingQuestion {
  display: none !important;
}

#HeaderBox1 {
  display: flex !important;
  
  align-items: center !important;
}
/* first in #headerbox1 */
#HeaderBox1 > #LogoBox {
  margin-right: 10px !important;
}
