@if (this.tips.slice()) {
  <table id="ReportsTable" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><i class="fas fa-hashtag"></i></th>
        <th>{{'Date'|translate}}</th>
        <th>{{'Last update'|translate}}</th>
        <th>{{'Expiration date'|translate}}</th>
        <th>{{'Channel'|translate}}</th>
        <th>{{'Status'|translate}}</th>
        <th>{{'Tor'|translate}}</th>
        <th>{{'Comments'|translate}}</th>
        <th>{{'Files'|translate}}</th>
        <th>{{'Receivers'|translate}}</th>
        <th>{{'Whistleblower\'s last access'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      @for (data of getPaginatedData(); track data) {
        <tr>
          <td>{{data.progressive}}</td>
          <td>{{data.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{data.last_update | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{data.expiration_date | date:'dd-MM-yyyy HH:mm'}}</td>
          @if (appDataService.contexts_by_id[data.context_id]) {
            <td>{{appDataService.contexts_by_id[data.context_id]['name']}}</td>
          }
          @if (!appDataService.contexts_by_id[data.context_id]) {
            <td></td>
          }
          <td>{{utilsService.getSubmissionStatusText(data.status,data.substatus,appDataService.submissionStatuses)}}</td>
          <td>@if (data.tor) {
            <i class="fas fa-check"></i>
          }</td>
          <td>{{data.comments}}</td>
          <td>{{data.files}}</td>
          <td>{{data.receiver_count}}</td>
          <td>{{data.last_access | date:'dd-MM-yyyy HH:mm'}}</td>
        </tr>
      }
    </tbody>
  </table>
  @if (tips.length > pageSize) {
    <div>
        <ngb-pagination dir="ltr" class="d-flex justify-content-center" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="tips.length">
            <ng-template ngbPaginationFirst><span ngbTooltip="{{'First' | translate}}"><i class="fas fa-backward-fast"></i></span></ng-template>
            <ng-template ngbPaginationPrevious><span ngbTooltip="{{'Previous' | translate}}"><i class="fas fa-backward-step"></i></span></ng-template>
            <ng-template ngbPaginationNext><span ngbTooltip="{{'Next' | translate}}"><i class="fas fa-forward-step"></i></span></ng-template>
            <ng-template ngbPaginationLast><span ngbTooltip="{{'Last' | translate}}"><i class="fas fa-forward-fast"></i></span></ng-template>
            <ng-template ngbPaginationFirst><span ngbTooltip="{{'First' | translate}}"><i class="fas fa-backward-fast"></i></span></ng-template>
            <ng-template ngbPaginationPrevious><span ngbTooltip="{{'Previous' | translate}}"><i class="fas fa-backward-step"></i></span></ng-template>
            <ng-template ngbPaginationNext><span ngbTooltip="{{'Next' | translate}}"><i class="fas fa-forward-step"></i></span></ng-template>
            <ng-template ngbPaginationLast><span ngbTooltip="{{'Last' | translate}}"><i class="fas fa-forward-fast"></i></span></ng-template>
        </ngb-pagination>
    </div>
    }
    <div class="d-flex justify-content-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"><i class="fas fa-download"></i><span>{{ 'Export' | translate }}</span></button></div>
  }
