version: '3.9'

services:
  globaleaks:
    environment:
      DISTRIBUTION: trixie
    build: .
    restart: unless-stopped
    container_name: globaleaks
    network_mode: host
    volumes:
      - globaleaks:/var/globaleaks:rw
    ports:
      - 80:8080
      - 443:8443
      - 8080:8080
      - 8443:8443
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost:8443/api/health"]
      interval: 30s
      timeout: 5s
      retries: 12
      start_period: 60s

volumes:
  globaleaks: {}
