<div class="modal-header">
  <h5 id="enable-2fa-modal-title" class="modal-title">{{'Enable two factor authentication'|translate}}</h5>
  <button type="button" class="btn-close" (click)="dismiss()" [attr.aria-label]="'Close' | translate"><i class="fa-solid fa-circle-xmark" aria-hidden="true"></i></button>
</div>
<div class="modal-body">
  <src-enable-2fa></src-enable-2fa>
</div>
<div class="modal-footer">
  <button (click)="confirm()" [disabled]="twoFactorAuthData.totp.secret.length !== 32 || twoFactorAuthData.totp.token.length !== 6" class="btn btn-primary">{{'Enable'|translate}}</button>
  <button (click)="dismiss()" id="close" class="btn btn-light">{{'Close'|translate}}</button>
</div>
