@if (RTips.dataModel && RTips.dataModel && filteredTips) {
  <div id="Toolbar" class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-1">
          <a id="link-home" routerLink="/recipient/home" ngbTooltip="{{'Home' | translate}}" class="btn btn-outline-secondary" [attr.aria-label]="'Home' | translate">
            <i class="fas fa-arrow-left"></i>
          </a>

          <button id="tip-action-act-as-whistleblower" type="button" (click)="actAsWhistleblower()" ngbTooltip="{{'Act on behalf of a whistleblower' | translate}}" [attr.aria-label]="'Act on behalf of the whistleblower' | translate"
            class="btn btn-outline-secondary">
            <i class="fas fa-handshake-angle"></i>
          </button>
        </div>

        <div class="d-flex align-items-center gap-1">
          @if (selectedTips.length) {
            <button id="tip-action-export" type="button" (click)="exportTips()" ngbTooltip="{{'Export' | translate}}" class="btn btn-outline-secondary" [attr.aria-label]="'Export' | translate">
              <i class="fas fa-download"></i>
            </button>
          }

          <button id="link-reload" type="button" (click)="reload()" ngbTooltip="{{'Refresh' | translate}}"
            class="btn btn-outline-secondary">
            <i class="fas fa-arrows-rotate"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="TipList" class="row mt-2">
    <div class="col-md-12 table-responsive">
      <app-paginated-interface [mode]="'table'" [items]="filteredTips" orderBy="creation_date" [orderDesc]="true">
        <ng-template #header let-tip="item" let-index="index">
          <tr>
            <th>
              @if (selectedTips.length !== RTips.dataModel.length ) {
                <span id="tip-action-select-all" (click)="selectAll()" ngbTooltip="{{'Select all' | translate}}">
                  <i class="fas fa-square"></i>
                </span>
              }
              @if (selectedTips.length === RTips.dataModel.length) {
                <span id="tip-action-select-all" (click)="deselectAll()" ngbTooltip="{{'Deselect all' | translate}}">
                  <i class="fas fa-square-check"></i>
                </span>
             }
            </th>
            <th><span class="visually-hidden">{{'Select' | translate}}</span></th>
            <th (click)="sortKey = 'important'; sortReverse = !sortReverse">
              <i class="fas fa-star" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Important' | translate}}</span>
              @if (sortKey === 'important') {
                <span>
                  @if (!sortReverse) {
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                  }
                  @if (sortReverse) {
                    <i class="fas fa-sort-up" aria-hidden="true"></i>
                  }
                </span>
              } @else {
                <span class="text-muted"><i class="fas fa-sort" aria-hidden="true"></i></span>
              }
            </th>
            <th (click)="sortKey = 'reminder_date'; sortReverse = !sortReverse">
              <i class="fas fa-bell" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Reminder date' | translate}}</span>
              @if (sortKey === 'reminder_date') {
                <span>
                  @if (!sortReverse) {
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                  }
                  @if (sortReverse) {
                    <i class="fas fa-sort-up" aria-hidden="true"></i>
                  }
                </span>
              } @else {
                <span class="text-muted"><i class="fas fa-sort" aria-hidden="true"></i></span>
              }
            </th>
            <th class="TipInfoID" (click)="sortKey = 'progressive'; sortReverse = !sortReverse">
              <i class="fas fa-hashtag" aria-hidden="true"></i>
              <span class="visually-hidden">{{'ID' | translate}}</span>
              @if (sortKey === 'progressive') {
                <span>
                  @if (!sortReverse) {
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                  }
                  @if (sortReverse) {
                    <i class="fas fa-sort-up" aria-hidden="true"></i>
                  }
                </span>
              } @else {
                <span class="text-muted"><i class="fas fa-sort" aria-hidden="true"></i></span>
              }
            </th>
            @if (appDataService.public.contexts.length > 1) {
              <th class="TipInfoContext">
                <span (click)="sortKey = 'context_name'; sortReverse = !sortReverse">
                  <i class="fas fa-inbox"></i>
                  <span>{{'Channel' | translate}}</span>
                  @if (sortKey === 'context_name') {
                    <span>
                      @if (!sortReverse) {
                        <i class="fas fa-sort-down"></i>
                      }
                      @if (sortReverse) {
                        <i class="fas fa-sort-up"></i>
                      }
                    </span>
                  } @else {
                    <span class="text-muted"><i class="fas fa-sort"></i></span>
                  }
                </span>
                @if (RTips.dataModel.length > 0) {
                  <span class="dropdown-multi-select-container">
                    <span id="tip-action-filter-channel" [ngClass]="{ filterSelected: checkFilter(dropdownContextModel) }" (click)="toggleChannelDropdown()"><i class="fas fa-filter"></i></span>
                    <span [class.d-none]="!channelDropdownVisible">
                      <ng-multiselect-dropdown [class.dropdown-visible]="channelDropdownVisible" [settings]="dropdownSettings" [data]="dropdownContextData" [(ngModel)]="dropdownContextModel" (ngModelChange)="onChanged(dropdownContextModel,'Channel')" [attr.aria-label]="'Filter by channel' | translate"></ng-multiselect-dropdown>
                    </span>
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
              @if (RTips.dataModel.length > 0) {
                <span class="dropdown-multi-select-container">
                  <span id="tip-action-filter-channel" [ngClass]="{ filterSelected: checkFilter(dropdownContextModel) }" (click)="toggleChannelDropdown()"><i class="fas fa-filter"></i></span>
                  <span [class.d-none]="!channelDropdownVisible">
                    <ng-multiselect-dropdown [class.dropdown-visible]="channelDropdownVisible" [settings]="dropdownSettings" [data]="dropdownContextData" [(ngModel)]="dropdownContextModel" (ngModelChange)="onChanged(dropdownContextModel,'Channel')"></ng-multiselect-dropdown>
                  </span>
                </span>
              }
            </th>
            }
            <th class="TipInfoLabel">
              <span (click)="sortKey = 'label'; sortReverse = !sortReverse">
                <i class="fas fa-tag"></i>
                <span>{{'Label' | translate}}</span>
                @if (sortKey === 'label') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
            </th>
            <th class="TipInfoStatus">
              <span (click)="sortKey = 'submissionStatusStr'; sortReverse = !sortReverse">
                <i class="fas fa-circle-dot"></i>
                <span>{{'Status' | translate}}</span>
                @if (sortKey === 'submissionStatusStr') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
              @if (RTips.dataModel.length > 0) {
                <span class="dropdown-multi-select-container">
                  <span [ngClass]="{ filterSelected: checkFilter(dropdownStatusModel) }" (click)="toggleStatusDropdown()"><i class="fas fa-filter"></i></span>
                  <span [class.d-none]="!statusDropdownVisible">
                    <ng-multiselect-dropdown [class.dropdown-visible]="statusDropdownVisible" [settings]="dropdownSettings" [data]="dropdownStatusData" [(ngModel)]="dropdownStatusModel" (ngModelChange)="onChanged(dropdownStatusModel,'Status')" [attr.aria-label]="'Filter by status' | translate"></ng-multiselect-dropdown>
                  </span>
                </span>
              }
            </th>
            <th class="TipInfoSubmissionDate">
              <span (click)="sortKey = 'creation_date'; sortReverse = !sortReverse">
                <i class="fas fa-clock"></i>
                <span>{{'Report date' | translate}}</span>
                @if (sortKey === 'creation_date') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
              <span class="ngb-datepicker-container ms-1">
                <span id="tip-action-filter-report-date" [ngClass]="{'calendar-active':  reportDateFilter}" (click)="reportDatePicker=!reportDatePicker;lastUpdatePicker=false;expirationDatePicker=false;statusDropdownVisible=false;channelDropdownVisible=false;scoreDropdownVisible=false;"><i class="fas fa-calendar"></i></span>
                <div [hidden]="!reportDatePicker">
                  <ngbd-datepicker-range class="position-absolute d-block" [currentDates]="reportDateModel" (emitDateSelection)="onReportFilterChange($event)"></ngbd-datepicker-range>
                </div>
              </span>
            </th>
            <th class="TipInfoUpdateDate">
              <span (click)="sortKey = 'update_date'; sortReverse = !sortReverse">
                <i class="fas fa-clock"></i>
                <span>{{'Last update' | translate}}</span>
                @if (sortKey === 'update_date') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
              <span class="ngb-datepicker-container ms-1">
                <span [ngClass]="{'calendar-active':  updateDateFilter}" (click)="lastUpdatePicker=!lastUpdatePicker;reportDatePicker=false;expirationDatePicker=false;statusDropdownVisible=false;channelDropdownVisible=false;scoreDropdownVisible=false;"><i class="fas fa-calendar"></i></span>
                <div [hidden]="!lastUpdatePicker">
                  <ngbd-datepicker-range class="position-absolute d-block" [currentDates]="updateDateModel" (emitDateSelection)="onUpdateFilterChange($event)"></ngbd-datepicker-range>
                </div>
              </span>
            </th>
            <th class="TipInfoExpirationDate">
              <span (click)="sortKey = 'expiration_date'; sortReverse = !sortReverse">
                <i class="fas fa-hourglass"></i>
                <span>{{'Expiration date' | translate}}</span>
                @if (sortKey === 'expiration_date') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
              <span class="ngb-datepicker-container ms-1">
                <span [ngClass]="{'calendar-active':  expiryDateFilter}" (click)="expirationDatePicker=!expirationDatePicker;reportDatePicker=false;lastUpdatePicker=false;statusDropdownVisible=false;channelDropdownVisible=false;scoreDropdownVisible=false;"><i class="fas fa-calendar"></i></span>
                <div [hidden]="!expirationDatePicker">
                  <ngbd-datepicker-range class="position-absolute d-block" [currentDates]="expiryDateModel" (emitDateSelection)="onExpiryFilterChange($event)"></ngbd-datepicker-range>
                </div>
              </span>
            </th>
            <th class="TipInfoReadReceipt">
              <i class="fas fa-envelope-circle-check" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Read receipt' | translate}}</span>
            </th>
            <th class="TipInfoComments">
              <i class="fas fa-comment" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Comments' | translate}}</span>
            </th>
            <th class="TipInfoFiles">
              <i class="fas fa-file" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Files' | translate}}</span>
            </th>
            <th class="TipInfoIdentity">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span class="visually-hidden">{{'Identity' | translate}}</span>
            </th>
            <th class="TipInfoRecipientCount">
              <span (click)="sortKey = 'receiver_count'; sortReverse = !sortReverse">
                <i class="fas fa-users" aria-hidden="true"></i>
                <span class="visually-hidden">{{'Recipients' | translate}}</span>
                @if (sortKey === 'receiver_count') {
                  <span>
                    @if (!sortReverse) {
                      <i class="fas fa-sort-down"></i>
                    }
                    @if (sortReverse) {
                      <i class="fas fa-sort-up"></i>
                    }
                  </span>
                } @else {
                  <span class="text-muted"><i class="fas fa-sort"></i></span>
                }
              </span>
            </th>
            @if (appDataService.public.node.enable_scoring_system) {
              <th class="TipInfoScore">
                <span (click)="sortKey = 'score'; sortReverse = !sortReverse">
                  <i class="fas fa-ranking-star"></i>
                  <span>{{'Score' | translate}}</span>
                  @if (sortKey === 'score') {
                    <span>
                      @if (!sortReverse) {
                        <i class="fas fa-sort-down"></i>
                      }
                      @if (sortReverse) {
                        <i class="fas fa-sort-up"></i>
                      }
                    </span>
                  } @else {
                    <span class="text-muted"><i class="fas fa-sort"></i></span>
                  }
                </span>
                @if (RTips.dataModel.length > 0) {
                <span class="dropdown-multi-select-container">
                  <span [ngClass]="{ filterSelected: checkFilter(dropdownScoreModel) }" (click)="toggleScoreDropdown()"><i class="fas fa-filter"></i></span>
                  <span [class.d-none]="!scoreDropdownVisible">
                    <ng-multiselect-dropdown [class.dropdown-visible]="scoreDropdownVisible" [settings]="dropdownSettings" [data]="dropdownScoreData" [(ngModel)]="dropdownScoreModel" (ngModelChange)="onChanged(dropdownScoreModel,'Score')" [attr.aria-label]="'Filter by score' | translate"></ng-multiselect-dropdown>
                  </span>
                </span>
                }
              </th>
            }
          </tr>
        </ng-template>
        <ng-template #content let-tip="item" let-index="index">
          <tr id="tip-{{index}}" [ngClass]="[tip.updated ? 'fw-bold' : '', isSelected(tip.id) ? 'selectedTip' : '', !tip.accessible ? 'disabled' : '', 'report-status-' + tip.status, 'report-substatus-' + tip.substatus]" class="tip-action-open" (click)="utils.go('/reports/' + tip.id)">
            <td>
              @if (isSelected(tip.id)) {
                <span (click)="tipSwitch(tip.id); $event.stopPropagation();">
                  <i class="fas fa-square-check"></i>
                </span>
              }
              @if (!isSelected(tip.id)) {
                <span (click)="tipSwitch(tip.id); $event.stopPropagation();">
                  <i class="fas fa-square"></i>
                </span>
              }
            </td>
            <td>
              @if (tip.important) {
                <i class="fas fa-star text-warning"></i>
              }
              <td>
                @if (!utils.isNever(tip.reminder_date)) {
                  <span [ngClass]="{'text-warning': utils.isDatePassed(tip.reminder_date)}"><i class="fas fa-bell"></i></span>
                }
              </td>
              <td class="TipInfoID">{{tip.progressive}}</td>
              @if (appDataService.public.contexts.length > 1) {
                <td class="TipInfoContext">{{tip.context_name}}</td>
              }
              <td class="TipInfoLabel">{{tip.label}}</td>
              <td class="TipInfoStatus">{{tip.submissionStatusStr}}</td>
              <td class="TipInfoSubmissionDate">{{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
              <td class="TipInfoUpdateDate">{{tip.update_date | date:'dd-MM-yyyy HH:mm'}}</td>
              <td class="TipInfoExpirationDate">
                @if (!utils.isNever(tip.expiration_date)) {
                  <span>{{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</span>
                }
                @if (utils.isNever(tip.expiration_date)) {
                  <span>-</span>
                }
              </td>
              <td class="TipInfoLastAccess">
                @if (tip.last_access >= tip.update_date) {
                  <span ngbTooltip="{{'The whistleblower has already read the last update' | translate}} ({{tip.last_access | date:'dd-MM-yyyy HH:mm'}})"><i class="fas fa-check"></i></span>
                }
                @if (tip.last_access < tip.update_date) {
                  <span ngbTooltip="{{'The whistleblower has not read the last update yet' | translate}}"><i class="fas fa-xmark"></i></span>
                }
              </td>
              <td class="TipInfoComments">{{tip.comment_count}}</td>
              <td class="TipInfoFiles">{{tip.file_count}}</td>
              <td class="TipInfoIdentity">
                @switch (tip.subscription) {
                  @case (0) {
                    <i class="fas fa-xmark"></i>
                  }
                  @case (1) {
                    <i class="fas fa-check"></i>
                  }
                  @case (2) {
                    @if (tip.data) {
                      <span ngbTooltip="{{'Subscription date: ' + (tip.data.whistleblower_identity_date | date:'dd-MM-yyyy HH:mm')}}"><i class="fas fa-check underline"></i></span>
                    }
                    @if (!tip.data) {
                      <i class="fas fa-check underline"></i>
                    }
                  }
                }
              </td>
              <td class="TipInfoRecipientCount">{{tip.receiver_count}}</td>
              @if (appDataService.public.node.enable_scoring_system) {
              <td class="TipInfoScore">
                @switch (tip.score) {
                  @case (0) {
                    <span>-</span>
                  }
                  @case (1) {
                    <span class="badge bg-primary">{{ 'Low' | translate }}</span>
                  }
                  @case (2) {
                    <span class="badge bg-primary">{{ 'Medium' | translate }}</span>
                  }
                  @case (3) {
                    <span class="badge bg-primary">{{ 'High' | translate }}</span>
                  }
                }
              </td>
              }
          </tr>
        </ng-template>
      </app-paginated-interface>
      <div class="float-end">
        @if (filteredTips.length > 0) {
          <a class="btn btn-sm btn-link" type="button"
            (click)="exportToCsv()">
            <i class="fas fa-download"></i>
            <span>{{ 'Export' | translate }}</span>
          </a>
        }
      </div>
    </div>
  </div>
}
