<div id="TipPageReceiversInfoBox" class="card card-default" [attr.aria-expanded]="collapsed">
  <div class="card-header d-flex justify-content-between" (click)="toggleCollapse();utilsService.stopPropagation($event)">
    <span>{{'Recipients'|translate}}</span>
    <span class="">
      @if (!collapsed) {
        <span ngbTooltip="{{'Collapse' | translate}}"><i class="fas fa-chevron-up"></i></span>
      }
      @if (collapsed) {
        <span ngbTooltip="{{'Expand' | translate}}"><i class="fas fa-chevron-down"></i></span>
      }
    </span>
  </div>
  @if (!collapsed) {
    <div class="card-body">
      @for (receiver of tipService.tip.receivers | filter : 'active' : true; track receiver) {
        <div>
          <div>{{tipService.tip.receivers_by_id[receiver.id].name | translate}}</div>
        </div>
      }
    </div>
  }
</div>
