<div class="row">
  <div class="col-md-12">
    @if (!appDataService.public.node.simplified_login) {
      <label for="password-reset-username">{{'Enter your account\'s username or your email address to request a password reset.'|translate}}</label>
    }
    @if (appDataService.public.node.simplified_login) {
      <label for="password-reset-username">{{'Enter your email address to request a password reset.'|translate}}</label>
    }
  </div>
</div>
<br>
  <div class="row">
    <div class="col-md-3">
      <form name="form" autocomplete="off" novalidate>
        <div class="input-group">
          <input id="password-reset-username" class="form-control" name="username" [(ngModel)]="username" type="text" required />
          <span class="input-group-append">
            <button class="btn btn-primary rounded-start-0 m-0" id="submit" (click)="submitRequest()" [disabled]="!username" type="submit">{{'Submit'|translate}}</button>
            <a class="btn" href="#" (click)="utilsService.openSupportModal()" ngbTooltip="{{'Request support' | translate}}" [attr.aria-label]="'Request support' | translate">
              <i class="fas fa-life-ring"></i>
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>
