<form #signupform="ngForm" [ngClass]="{'was-validated': validated}" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="title">{{'Sign up'|translate}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="wbpa-signup-name">{{'Name'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-signup-name" name="name" class="form-control" [(ngModel)]="signup.name" type="text" required>
    </div>
    <div class="col-md-6 form-group">
      <label for="wbpa-signup-surname">{{'Surname'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-signup-surname" name="surname" class="form-control" [(ngModel)]="signup.surname" type="text" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="wbpa-signup-phone">{{'Phone number'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-signup-phone" name="phonenumber" #phone="ngModel" class="form-control" [(ngModel)]="signup.phone" type="text" [pattern]="Constants.Constants.phoneNumberRegexp" required>
      @if (phone?.errors?.['pattern']) {
        <div class="text-danger">
          <span>{{'Invalid phone number'|translate}}</span>
        </div>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="wbpa-signup-email">
        <span>{{'Email address'|translate}}</span>
        <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      </label>
      <div>
        <input id="wbpa-signup-email" name="email" #email="ngModel" class="form-control" [(ngModel)]="signup.email" [pattern]="Constants.Constants.emailRegexp" type="email" required>
        @if (email?.errors?.['pattern']) {
          <div class="text-danger">
            <span>{{'Invalid email address'|translate}}</span>
          </div>
        }
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="wbpa-signup-email-confirm">
        <span>{{'Email address'|translate}} ({{'Confirm'|translate}})</span>
        <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      </label>
      <div>
        <input id="wbpa-signup-email-confirm" name="email" class="form-control" [(ngModel)]="confirmation_email" disableCcp type="email" required>
        @if (validated && signupform && email.valid && signup.email !== confirmation_email) {
          <div class="text-danger">
            <span>{{'Invalid confirmation'|translate}}</span>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="title">{{'Organization'|translate}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="wbpa-org-name">{{'Name'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-org-name" name="organization_name" class="form-control" [(ngModel)]="signup.organization_name" type="text" (ngModelChange)="updateSubdomain.emit()" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="wbpa-org-address">{{'Address'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-org-address" name="organization_location" class="form-control" [(ngModel)]="signup.organization_location" type="text" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="wbpa-org-fiscal">{{'Fiscal code'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-org-fiscal" name="tax_code" class="form-control" [(ngModel)]="signup.organization_tax_code" type="text" [required]="!signup.organization_tax_code && !signup.organization_vat_code">
    </div>
    <div class="col-md-6 form-group">
      <label for="wbpa-org-tax">{{'Tax code'|translate}}</label>
      <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      <input id="wbpa-org-tax" name="vat_code" class="form-control" [(ngModel)]="signup.organization_vat_code" type="text" [required]="!signup.organization_tax_code && !signup.organization_vat_code">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="wbpa-subdomain">
        <span>{{'Site'|translate}}</span>
        <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
      </label>
      <div class="input-group">
        <input id="wbpa-subdomain" name="subdomain" class="form-control" [(ngModel)]="signup.subdomain" type="text" maxlength="40" subdomainvalidators required>
        <span class="input-group-append">
          <span class="input-group-text">.{{appDataService.public.node.rootdomain}}</span>
        </span>
      </div>
    </div>
  </div>
  <src-tos [signup]="signup"></src-tos>
  <div class="row">
    <div class="col-md-12">
      <button class="ButtonNext btn btn-primary" type="submit" (click)="(validated = true) && !signupform.invalid && complete.emit()">
        <i class="fas fa-check"></i>
        <span>{{'Proceed'|translate}}</span>
      </button>
    </div>
  </div>
</form>
