<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>{{ 'Logo' | translate }}</label>
      <div appImageUpload [imageUploadModel]="nodeResolver.dataModel" [imageUploadModelAttr]="'logo'" [imageUploadId]="'logo'"></div>
    </div>
    <div class="form-group">
      <label for="project-name-input">{{ 'Project name' | translate }}</label>
      <input id="project-name-input" name="node.dataModel.name" class="form-control" [(ngModel)]="nodeResolver.dataModel.name" type="text" required />
    </div>
    <div class="form-group">
      <label for="node-description">{{ 'Description' | translate }}</label>
      <div>
        <textarea id="node-description" name="node.dataModel.description" class="form-control" [(ngModel)]="nodeResolver.dataModel.description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="node-header-title">{{ 'Homepage title' | translate }}</label>
      <div>
        <textarea id="node-header-title" class="form-control" name="node.dataModel.header_title_homepage" [(ngModel)]="nodeResolver.dataModel.header_title_homepage"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="node-presentation">{{ 'Presentation' | translate }}</label>
      <div>
        <textarea id="node-presentation" class="form-control" name="node.dataModel.presentation" [(ngModel)]="nodeResolver.dataModel.presentation"></textarea>
      </div>
    </div>
    @if (authenticationService.session?.role === 'admin') {
      <div class="form-group">
        <label for="node-whistleblowing-question">{{ 'Question to solicit possible reporting persons' | translate }}</label>
        <div>
          <textarea id="node-whistleblowing-question" name="node.dataModel.whistleblowing_question" class="form-control" [(ngModel)]="nodeResolver.dataModel.whistleblowing_question"></textarea>
        </div>
      </div>
    }
    @if (authenticationService.session?.role === 'admin') {
      <div class="form-group">
        <label for="whistleblowing-button-input">{{ 'Whistleblowing button' | translate }}</label>
        <input id="whistleblowing-button-input" name="nodeResolver.dataModel.whistleblowing_button" class="form-control" [(ngModel)]="nodeResolver.dataModel.whistleblowing_button" type="text" />
      </div>
    }
    @if (nodeResolver.dataModel.root_tenant || ['default', 'demo'].indexOf(appDataService.public.node.mode) !== -1) {
      <div class="form-group">
        <label for="node-disclaimer-text">{{ 'Disclaimer' | translate }}</label>
        <div>
          <textarea id="node-disclaimer-text" name="nodeResolver.dataModel.disclaimer_text" class="form-control" [(ngModel)]="nodeResolver.dataModel.disclaimer_text"></textarea>
        </div>
      </div>
    }
    <div class="form-group">
      <label for="footer-whistleblowing-policy">{{'Whistleblowing Policy'|translate}}</label>
      <input id="footer-whistleblowing-policy" name="footer_whistleblowing_policy" class="form-control" [(ngModel)]="nodeResolver.dataModel.footer_whistleblowing_policy" [pattern]="Constants.secureLocalUrlRegexp" [ngClass]="{'is-invalid': contentForm.form.get('footer_whistleblowing_policy')?.errors?.['pattern']}" type="text" />
    </div>
    <div class="form-group">
      <label for="footer-privacy-policy">{{'Privacy Policy'|translate}}</label>
      <input id="footer-privacy-policy" name="footer_privacy_policy" class="form-control" [(ngModel)]="nodeResolver.dataModel.footer_privacy_policy" [pattern]="Constants.secureLocalUrlRegexp" [ngClass]="{'is-invalid': contentForm.form.get('footer_privacy_policy')?.errors?.['pattern']}" type="text" />
    </div>
    @if (nodeResolver.dataModel.root_tenant || ['default', 'demo'].indexOf(appDataService.public.node.mode) !== -1) {
      <div class="form-group">
        <label for="node-footer">{{ 'Footer' | translate }}</label>
        <div>
          <textarea id="node-footer" name="nodeResolver.dataModel.footer" class="form-control" [(ngModel)]="nodeResolver.dataModel.footer"></textarea>
        </div>
      </div>
    }
    <div class="form-group">
      <button class="btn btn-primary" id="save_settings" [disabled]="contentForm.invalid" (click)="updateNode()" type="submit">
        <i class="fas fa-check"></i>
        <span>{{ 'Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
